.container{
    height: 100vh;
    margin-top: 30px;
    justify-content: center;
    display: flex;
}

.container__img{
    left: 10px;
    width: 65%;
    max-width: 500px;
    height: 30rem;
}

.container__caracteristicas{
    margin-top: 50px;
    text-align: start;
}