.itemCount{
    display: flex;
    margin-top: 3rem;
    height: 30px;
    width: 150px;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 5px;
}

.itemCount button{
    background-color: rgb(95, 95, 95);
    border: none;
    cursor: pointer;
    width: 45px;
}

.itemCount button:hover{
    transition: all .3s;
    opacity: .8;
}


.num{
    border-radius: 5px;
    width: 60px;
    text-align: center;
    font-weight: 700;
}

.añadirCarrito{
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: rgb(0, 220, 0);
    cursor: pointer;
    margin-top: 20px;
}

.añadirCarrito:hover{
    transition: all .3s;
    opacity: .7;
}